<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>

        <link rel="stylesheet" href="/css/styles-products.css" />

        <title>Golosinas Mailin</title>
</head>

<body>


    <%- include('../partials/header') %>
        <section class="main-titulo">

            <h2><%=categoria.toUpperCase()%>
        </section>

   


        <main class="main__container">
            </h2>
            <section class="main_categorias">
                <details open>
                    <summary>Categorias<i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-minus"></i></summary>
                    <% categorias.forEach(element=> { %>
                        <a href="/productos/categoria/<%= element %>" class="enlaces-category">
                            <li>
                                <%= element %>
                            </li>
                        </a>
                        <% }); %>
                </details>
            </section>


            <section class="main__producto ">
                <% products.forEach(product=> { %>
                    <article class="producto--card">
                        <a href="/productos/<%=product.id%>" class="producto--card-img">
                            <img src="/images/products/<%=product.img%>" alt="<%=product.nombre%>">
                        </a>
                        <%if(product.descuento> 0) { %>
                            <div class="contenedor-descuento">
                                <p class="descuento">
                                    <%=product.descuento%>% OFF
                                </p>
                            </div>
                            <% } %>
                                <div class="card-descripcion">
                                    <p class="producto--card-categ">
                                        <%=product.categoria.toUpperCase()%>
                                    </p>
                                    <a href="" class="producto--card-titulo">
                                        <%=product.nombre%>
                                    </a>
                                    <div class="producto--card-precio">
                                        <%if(product.descuento> 0) { %>
                                            <p class="precio">$ <%=product.precio%>
                                            </p>
                                            <p class="precio-final">$ <% let precioFinal=product.precio -
                                                    (product.precio * (product.descuento/100)) %>
                                                    <%= precioFinal %>
                                            </p>
                                            <% }else{ %>
                                                <p class="precio-final">$ <%=product.precio%>
                                                </p>
                                                <% } %>
                                    </div>
                                    <button class="agregar-carrito">Añadir al carrito</button>
                                </div>
                    </article>
                    <% }); %>


            </section>


        </main>

        <%- include('../partials/footer') %>

</body>

</html>