<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/styles-products.css" />
        <link rel="stylesheet" href="/css/styles-header.css">

        <title>Golosinas Mailin</title>

</head>

<body>

    <%- include('../partials/header') %>

        <section class="main-titulo">
            <h2>Todos los productos</h2>
        </section>
        <main class="main__container">
            <section class="main_categorias">
                
                <details open >
                    <summary class="category-summary">Filtrar<i class="fa-solid fa-caret-down"></i><i
                            class="fa-solid fa-minus"></i></summary>

                    <form action="/productos/filter" method="get" class="form-filter">
                        <div class="label-categoria">
                            <p class="label-filter">Categoría</p>
                            <% categorias.forEach(element=> { %>
                               <li ><label for="<%=element.nombre %>"><input type="checkbox" name="categorias" value="<%= element.id %>" id="<%=element.nombre %>">  <%= element.nombre %></label></li> 
                
                            <% }); %>
                        </div>
                        <div class="label-ofertas">
                            <p for="" class="label-filter">Ofertas</p>
                            <li><label for="oferta"><input type="checkbox" name="ofertas" value="si" id="oferta"> Si</label></li>
                        </div>

                        <div class="btn-conteiner">
                            <button type="reset" class="limpiar-btn">Limpiar</button>
                            <button type="submit" class="aplicar-btn">Aplicar</button>
                        </div>
                    </form>
                </details>

                <% if (isAdmin) { %>

                    <div class="enlace-product">
                        <a href="/productos/create" class="boton-agregar"> <i class="fa-solid fa-plus"></i> Agregar Producto</a>
                    </div>
                <% } %>
            </section>


            <section class="main__producto ">
                <%- include('../partials/product.ejs') %>

            </section>


        </main>

        <%- include('../partials/footer') %>

</body>

</html>