<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Golosinas Mailin</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link
        href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="/css/styles-productDetail.css" />
    <link rel="stylesheet" href="/css/styles-slider.css">
    <link rel="stylesheet" href="/css/normalize.css" />

</head>

<body>

    <%- include('../partials/header') %>

        <main class="main__container">
            <section class="main__producto">
                <div class="main__producto-enlaces">
                    <a href="/">INICIO </a><span class="span">> </span><a href="#"> <%=product.categoria.toUpperCase()%></a>
                </div>
                <div class="main__producto-img" id="contenedor">
                    <img src="/images/products/<%=product.img%>" alt="<%=product.nombre%>">
                    <div class="main-contenedor--descuento">
                        <p class="main-descuento"><%=product.descuento%>% OFF</p>
                    </div>
                </div>


                <div class="main__producto-detalle">
                    <h2 class="main__producto-nombre"><%=product.nombre%></h2>
                    <div class="main__producto-detalle--precio">
                        <p class="main-precio">$ <%=product.precio%></p>
                        <p class="main-precio-final">$ <% let precioFinal = product.precio - (product.precio * (product.descuento/100)) %> <%= precioFinal %></p>
                    </div>
                    <p class="main__producto-detalle-disponible">Disponible</p>
                    <!--<div class="main__producto-detalle-cantidad">
                   <div class="cantidad">
                        <a href="#" class="boton-menos"><i class="fa-solid fa-minus"></i></a>
                        <input type="number" value="1" min="1">
                        <a href="#" class="boton-mas"><i class="fa-solid fa-plus"></i></a>
                    </div>
                    <button class="agregar-carrito">Añadir a carrito</button>
                </div>
                <div class="main__producto-detalle-cantidad">
                   <input type="number" value="1" min="1">
                    <button class="agregar-carrito">Añadir a carrito</button>
                </div>-->

                    <form class="main__producto-detalle-cantidad ">
                        <div class="cantidad">
                            <input type="number" value="1" min="1" />
                            <!-- <div class="btn-increment-decrement">
                            <i class="fa-solid fa-chevron-up" id="increment"></i>
                            <i class="fa-solid fa-chevron-down" id="decrement"></i>
                        </div> -->
                        </div>
                        <button class="agregar-carrito">
                            Añadir al carrito
                        </button>
                    </form>
                    <div class="main__producto-descripcion">
                        <h4 class=".descripcion">Descripción</h4>
                        <p><%=product.descripcion%></p>
                    </div>

                    <p class="main__producto-detalle-info">SKU: <span id="sku"><%=product.id%></span></p>
                    <p class="main__producto-detalle-info" id="categoria">Categoria: <a href=""
                            id="categoria"><%=product.categoria.toUpperCase()%></a></p>

                    <div class="btn-product">
                        <a href="/productos/edit/<%= product.id %>" class="action-button edit">EDITAR PRODUCTO</a>
                        <form action="/products/???_method=DELETE" method="POST" style="display: inline-flex">
                            <button type="submit" class="action-button delete">ELIMINAR</button>
                        </form>
                    </div>
                </div>
            </section>


            <section class="main__sliderProducto ">
                <h3>PRODUCTOS RELACIONADOS</h3>
                <div class="card">
                    <!-- <div class="card-slider left" id="card-slider-left">
                        <i class="fa-solid fa-angle-left"></i>
                    </div> -->

                   
                    <% products.forEach(product => { %>
                
                        <%if(!product.descuento > 0) { %>

                             <!-- card sin descuento -->
                            <article class="sliderProducto--card">
                                
                                <a href="/productos/<%=product.id%>" class="sliderProducto--card-img">
                                    <img src="/images/products/<%=product.img%>" alt="<%=product.nombre%>">
                                </a>
                                <div class="card-descripcion">
                                    <p class="sliderProducto--card-categ"><%=product.categoria.toUpperCase()%></p>
                                    <a href="" class="sliderProducto--card-titulo"><%=product.nombre%></a>
                                    <div class="sliderProducto--card-precio">
                                        <p class="precio-final">$ <%=product.precio%></p>
                                    </div>
                                    <button class="sliderProducto-button">Añadir al carrito</button>
                                </div>
                            </article> 

                    <% }else{ %>

                        <!-- card con descuento -->
                        <article class="sliderProducto--card">
                            <a href="/productos/<%=product.id%>" class="sliderProducto--card-img">
                                <img src="/images/products/<%=product.img%>" alt="<%=product.nombre%>">
                            </a>

                            <div class="contenedor-descuento">
                                <p class="descuento"><%=product.descuento%>% OFF</p>
                            </div>

                            <div class="card-descripcion">
                                <p class="sliderProducto--card-categ"><%=product.categoria.toUpperCase()%></p>
                                <a href="" class="sliderProducto--card-titulo">
                                    <%=product.nombre%></a>

                                <div class="sliderProducto--card-precio">
                                    <p class="precio">$ <%=product.precio%></p>
                                    <p class="precio-final">$ <% let precioFinal = product.precio - (product.precio * (product.descuento/100)) %> <%= precioFinal %></p>
                                </div>

                                <button class="sliderProducto-button">Añadir al carrito</button>
                            </div>
                        </article>

                  

                    <% } %>
                <% }); %>
                    <!-- <div class="card-slider" id="card-slider-right">
                        <i class="fa-solid fa-angle-right"></i>
                    </div> -->
                     
                </div>

            </section>

        </main>

        <%- include('../partials/footer') %>

</body>

</html>