<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-formProduct.css">
    <link rel="stylesheet" href="/css/styles-register.css">
    <title>Golosinas Mailin</title>

</head>

<body>

    <header>
        <div class="header__container">
            <div class="header__logo">
                <img src="/images/logo-golosinas-mailin.svg" class="header__logo--img" alt="golosinas-mailin" />
            </div>

        </div>

    </header>

    <main>
        <div class="titulo__container"> 
            <h2 class="form-titulo">Editar Producto: <%=product.nombre%></h2>
        </div>

        <div class="form-contenedor">
            
            <form action="/productos/edit/<%=product.id%>?_method=PUT" method="POST" class="formulario">
                <div class="form-items">
                    <label for="nombreProducto">Nombre del producto</label>
                    <input type="text" name="nombre" id="nombreProducto" class="input-nombre" value="<%=product.nombre%>">
                </div>
                <div class="form-items">
                    <label for="descripcionProducto" class="form__label">Descripción</label>
                    <textarea name="descripcion" id="descripcionProducto" cols="30"><%=product.descripcion%></textarea>
                </div>
              
                <div class="form-items">
                    <label for="categoriaProducto"> Categoría </label>
                    <select name="categoria" id="categoriaProducto" class="categorias">

                        <!-- agrego -->
                        <% products.forEach(element => {%>
                            <% if (element==product.categoria) {%>
                                <option value="<%= element %>" selected ><%= element %></option>  
                            <% } else{%>
                                <option value="<%= element %>" ><%= element %></option>
                            <% }; %>
                         <% }); %>
                    </select>
                </div>
                <div class="form-items">
                    <label for="stockProducto"> Stock </label>
                    <input type="number" name="stock" id="stockProducto" class="input-stock" placeholder="0" value="<%=product.stock%>">
                </div>
                <div class="form-items">
                    <label for="enOferta"> En oferta </label>
                    <!-- agrego -->
                    <input type="checkbox" name="enOferta" id="enOferta" class="input-oferta" <%= product.enOferta === 'si' ? 'checked' : '' %> >
                </div>
                <div class="form-items">
                    <label for="precioProducto"> Precio $ </label>
                    <input type="number" name="precio" id="precioProducto" class="input-precio" placeholder="0.00" value="<%=product.precio%>">
                </div>
                <div class="form-items">
                    <label for="descuento"> Descuento % </label>
                    <input type="number" name="descuento" id="descuento" class="input-descuento" value="<%=product.descuento%>" placeholder="0">
                </div>
                <div class="botones-form">
                    <a href="/productos/<%= product.id %>" class="action-button btn-regresar"> Regresar </a>
                    <button type="submit" class="action-button btn-guardar"> Guardar </button>

                </div>
            </form>
        </div>
    </main>

</body>

</html>