<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="css/styles-index.css">
        <link rel="stylesheet" href="/css/styles-slider.css">


        <title>Golosinas Mailin</title>
</head>

<body>


    <%- include('./partials/header') %>


        <main>

            <section class="main__banner">
                <img src="./images/banner-fantoche.jpg" class="main__banner-img">
            </section>


            <section class="main__categoria">
                <h3 class="main-title">Categorías</h3>

                <div class="main__categoria-container">
                    <a href="" class="main__categoria-link"><img src="./images/categoria-alfajores.jpg" alt=""
                            class="main__categoria-img"></a>
                    <a href="" class="main__categoria-link"><img src="./images/categoria-caramelos.jpg" alt=""
                            class="main__categoria-img"></a>
                    <a href="" class="main__categoria-link"><img src="./images/categoria-chupetines.jpg" alt=""
                            class="main__categoria-img"></a>
                    <a href="" class="main__categoria-link"><img src="./images/categoria-galletas.jpg" alt=""
                            class="main__categoria-img"></a>
                </div>

            </section>

            <section class="main__sliderProducto slider-index">

                <h3 class="main-title">Ofertas Destacadas</h3>

                <div class="card">

                    <!-- slider
                        <div class="card-slider left" id="card-slider-left">
                        <i class="fa-solid fa-angle-left"></i>
                    </div> -->

                    <% products.forEach(product=> { %>
                        <%if(product.enOferta==='si') { %>
                            <article class="sliderProducto--card">
                                <a href="/productos/<%=product.id%>" class="sliderProducto--card-img">
                                    <img src="/images/products/<%=product.img%>" alt="<%=product.nombre%>">
                                </a>
                                <%if(product.descuento> 0) { %>
                                    <div class="contenedor-descuento">
                                        <p class="descuento">
                                            <%=product.descuento%>% OFF
                                        </p>
                                    </div>
                                    <% } %>
                                        <div class="card-descripcion">
                                            <p class="sliderProducto--card-categ">
                                                <%=product.categoria.toUpperCase()%>
                                            </p>
                                            <a href="" class="sliderProducto--card-titulo">
                                                <%=product.nombre%>
                                            </a>
                                            <div class="sliderProducto--card-precio">
                                                <%if(product.descuento> 0) { %>
                                                    <p class="precio">$ <%=product.precio%>
                                                    </p>
                                                    <p class="precio-final">$ <% let precioFinal=product.precio -
                                                            (product.precio * (product.descuento/100)) %>
                                                            <%= precioFinal %>
                                                    </p>
                                                    <% }else{ %>
                                                        <p class="precio-final">$ <%=product.precio%>
                                                        </p>
                                                        <% } %>
                                            </div>
                                            <button class="sliderProducto-button">Añadir al carrito</button>
                                        </div>
                            </article>
                            <% } %>
                                <% }); %>

                                    <!-- <div class="card-slider" id="card-slider-right">
                         <i class="fa-solid fa-angle-right"></i>
                     </div> -->

                </div>

            </section>

        </main>

        <%- include('./partials/footer') %>

</body>

</html>