<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="css/styles-index.css">
        <link rel="stylesheet" href="/css/styles-slider.css">
        <link rel="stylesheet" href="css/styles-headerFooter.css">


        <title>Golosinas Mailin</title>
</head>

<body>


    <%- include('./partials/header') %>


        <main>

            <section class="main__banner">
                <img src="./images/banner-fantoche.jpg" class="main__banner-img">
            </section>


            <section class="main__categoria" id="categoria">
                <h3 class="main-title">Categorías</h3>

                <div class="main__categoria-container">
                 
                    <% categorias.forEach(element=> { %>
                        <a href="/productos/filter?categorias=<%= element%>" class="main__categoria-link"><img src="./images/categoria-<%= element %>.jpg" alt=""
                                class="main__categoria-img"></a>
                        <% }) %>
                </div>

            </section>

            <section class="main__sliderProducto slider-index">

                <h3 class="main-title">Ofertas Destacadas</h3>

                <div class="card">

                    <%- include('./partials/productsSlider.ejs') %>

                </div>
            </section>

        </main>

        <%- include('./partials/footer') %>

</body>

</html>