<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-header.css" />
    <link rel="stylesheet" href="/css/styles-perfil.css" />
    <link rel="stylesheet" href="/css/styles-Loginregister.css" />

    <title>Mi Perfil</title>
  </head>

  <body>
    <%- include('../partials/header') %>

    <main class="main__container">
      <div class="main__enlaces">
        <a href="/">Inicio </a><span class="span"> > </span
        ><a href="/user/perfil"> Mi cuenta</a>
      </div>

      <div class="secciones">
        <h2>Bienvenid@</h2>

        <section class="container perfil">
          <img src="/images/users/<%= user.avatar %>" />
          <div class="contenedor-editar">
            <div class="editar-titulo">
              Datos Personales
              <!-- <a href="/user/perfil/edit"
                ><i class="fa-regular fa-pen-to-square"></i
              ></a> -->
            </div>

            <div class="contenedor-datos">
              <p><%= user.nombre + ' ' + user.apellido %></p>
              <p><%= user.email%></p>
            </div>
          </div>
        </section>
        <% if (!isAdmin) { %>

        <section class="compras">
          <i class="fa-solid fa-bag-shopping"></i>
          <p>¡Hacé tu primera compra!</p>
          <a href="/productos" class="cerrar-sesion compras-boton"
            >IR A TIENDA</a
          >
        </section>
        <% }%>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
