<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-header.css" />
    <link rel="stylesheet" href="/css/styles-perfil.css" />
    <link rel="stylesheet" href="/css/styles-Loginregister.css" />
    <script src="/js/profile.js"></script>

    <title>Mi Perfil</title>
</head>

<body>
  <%- include('../partials/header') %>

    <main class="main__container">

      <% if (locals.errors && errors.general) { %>
        <small class="text-danger">
          <%= errors.general.msg %>
        </small>
        <% } %>
        <h1>
          <%= `¡Hola, ${user.nombre}!`%>
        </h1>
           
            <section class="secciones-perfil" id="perfil">
              <h2>Mi Cuenta</h2>
              <div class="datos-perfil">
                <div class="contenedor-avatar">
                  <img src="/images/users/<%= user.avatar %>" />
                </div>
                <div class="datos">
                  <h3><%= isAdmin? 'Admin: ': null %> <%= user.nombre+ ' ' +user.apellido %> </h3>
                  <p>Email: <%= user.email %> </p>
                </div>
              </div>
              <div class="datos-acciones">
                <a href="/user/profile/edit" class="btn  btn-editar"><i class="fa-regular fa-pen-to-square"></i>Editar mis Datos</a>
                <a href="/user/resetpassword" class="btn btn-cambiar"><i class="fa-solid fa-lock"></i>Cambiar Contraseña</a>
                  <form action="/user/delete?_method=DELETE" method="POST" class="form-delete">
                    <button type="submit" class="btn btn-eliminar"><i class="fa-solid fa-trash"></i>Eliminar mi Cuenta</button>
                  </form>
              </div>

            </section>

    </main>

    <%- include('../partials/footer') %>
    
</body>

</html>