<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>

        <link rel="stylesheet" href="/css/styles-Loginregister.css">
        <title>Crea tu cuenta</title>

</head>

<body>
    <header>
        <div class="header__container">
            <div class="header__logo">
                <a href="/">
                    <img src="/images/logo-golosinas-mailin.svg" class="header__logo--img" alt="golosinas-mailin" />
                </a>
            </div>

        </div>
    </header>

    <main>
        <div class="main__enlaces">
            <a href="/">Inicio </a><span class="span"> > </span><a href=""> Registro</a>
        </div>
        <div class="main-form">
            
            
            <form action="/user/register" method="post" class="formulario" enctype="multipart/form-data">
                <h2 class="title-form">Crea tu cuenta</h2>
                <% if (locals.errors && errors.general) { %>
                    <small class="text-danger error"><%= errors.general.msg %></small>
                <% } %>


                <div class="main__form-group">
                    <label for="nombre">Nombre<span class="span-label">*</span></label>
                    <div class="input-with-icon ">
                        <input type="text" id="nombre" name="nombre"
                            value="<%= locals.oldData ? oldData.nombre : null %>"  class="<%= locals.errors && locals.errors.nombre ? 'is-invalid' : null %>" />
                        <% if (locals.errors && locals.errors.nombre) { %>
                            <i class="fa-solid fa-circle-exclamation"></i>
                            <% } %>

                    </div>
                    <% if (locals.errors && locals.errors.nombre) { %>
                        <small class="text-danger">
                            <%= locals.errors.nombre.msg %>
                        </small>
                        <% } %>
                </div>

                <div class="main__form-group">
                    <label for="apellido">Apellido<span class="span-label">*</span></label>
                    <div class="input-with-icon ">
                        <input type="text" id="apellido" name="apellido"
                            value="<%= locals.oldData ? oldData.apellido : null %>" class="<%= locals.errors && locals.errors.apellido ? 'is-invalid' : '' %>">

                        <% if (locals.errors && locals.errors.apellido) { %>
                            <i class="fa-solid fa-circle-exclamation"></i>
                            <% } %>

                    </div>
                    <% if (locals.errors && errors.apellido) { %>
                        <small class="text-danger">
                            <%= errors.apellido.msg %>
                        </small>
                        <% } %>
                </div>

                <div class="main__form-group">
                    <label for="email">Email<span class="span-label">*</span></label>
                        <div class="input-with-icon">
                            <input type="text" id="email" name="email" value="<%= locals.oldData ? oldData.email : '' %>" class=" <%= locals.errors && errors.email? 'is-invalid' : '' %>">
                               <% if (locals.errors && errors.email) { %>
                                    <i class="fa-solid fa-circle-exclamation"></i>
                                <% } %>
                        </div>

                    <% if (locals.errors && errors.email) { %>
                        <small class="text-danger">
                            <%= errors.email.msg %>
                        </small>
                    <% } %>
                </div>

                <div class="main__form-group">
                    <label for="password">Contraseña<span class="span-label">*</span></label>
                    <div class="input-with-icon">
                        <input type="password" id="password" name="password" class=" <%= locals.errors && locals.errors.password ? 'is-invalid' : '' %>">

                        <% if (locals.errors && locals.errors.password) { %>
                            <i class="fa-solid fa-circle-exclamation"></i>
                            <% } %>

                    </div>
                    <% if (locals.errors && errors.password) { %>
                        <small class="text-danger">
                            <%= errors.password.msg %>
                        </small>
                        <% } %>
                </div>
                <div class="main__form-group">
                    <label for="confirmPassword">Confirmar Contraseña<span class="span-label">*</span></label>
                    <div
                        class="input-with-icon ">
                        <input type="password" id="confirmPassword" name="confirmPassword" class="<%= locals.errors && locals.errors.confirmPassword ? 'is-invalid' : '' %>">
                        <% if (locals.errors && locals.errors.confirmPassword) { %>
                            <i class="fa-solid fa-circle-exclamation"></i>
                            <% } %>
                    </div>
                    <% if (locals.errors && errors.confirmPassword) { %>
                        <small class="text-danger">
                            <%= errors.confirmPassword.msg %>
                        </small>
                        <% } %>
                </div>
                <div class="main__form-group">
                    <label for="avatar">Imagen de perfil</label>
                    <input type="file" id="avatar" name="avatar" 
                        class="input-register <%= locals.errors && locals.errors.avatar ? 'is-invalid' : null %>">
                    <% if (locals.errors && errors.avatar) { %>
                        <small class="text-danger">
                            <%= errors.avatar.msg %>
                        </small>
                        <% } %>
                </div>
                <div class="main__aceptaTerminos">
                    <label for="aceptaTerminos"><input type="checkbox" id="aceptaTerminos" name="aceptaTerminos"
                            value="1"> Acepto términos y condiciones</label>
                    <% if (locals.errors && errors.aceptaTerminos) { %>
                        <div class="text-danger">
                            <%= errors.aceptaTerminos.msg %>
                        </div>
                        <% } %>
                </div>
               
                        <div class="main__form-group">
                            <button type="submit" class="button-submit">Registrarte</button>
                        </div>
            </form>

            <p class="main__options">¿Ya tenés una cuenta?<a href="/user/login"> Inicia sesión</a></p>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>

</html>