<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>

        <link rel="stylesheet" href="/css/styles-Loginregister.css">
        <title>Restablecer Contraseña</title>

</head>

<body>
    <header>
        <div class="header__container">
            <div class="header__logo">
                <a href="/">
                    <img src="/images/logo-golosinas-mailin.svg" class="header__logo--img" alt="golosinas-mailin" />
                </a>
            </div>

        </div>
    </header>

    <main>
        <div class="main__enlaces">
            <a href="/">Inicio </a><span class="span"> > </span>
            <% if (locals.userLogged) { %>
                <a href="/user/profile"> Mi Cuenta</a><span class="span"> > </span><a href=""> Restablecer Contraseña</a>
             <% } else { %>
                <a href="/user/login"> Login </a><span class="span"> > </span><a href=""> Restablecer Contraseña</a>
            <% } %>
        </div>
        <div class="main-form">

            
            <form action="/user/resetpassword?_method=PUT" method="post" class="formulario">
                <% if (locals.errors && errors.general) { %>
                    <div class="text-danger errors">
                        <%= errors.general.msg %>
                    </div>
                <% } %>
                <div class="main__form-group">
                    <% if (!locals.userLogged) { %>
                        <input type="hidden" value="<%= user.id %>" name="id">
                    <% } %>
                    <label for="password">Nueva Contraseña<span class="span-label">*</span></label>
                    <div class="input-with-icon <%= locals.errors && locals.errors.password ? 'is-invalid' : '' %>">
                        <input type="password" id="password" name="password">

                        <% if (locals.errors && locals.errors.password) { %>
                            <i class="fa-solid fa-circle-exclamation"></i>
                            <% } %>

                    </div>
                    <% if (locals.errors && errors.password) { %>
                        <small class="text-danger">
                            <%= errors.password.msg %>
                        </small>
                        <% } %>
                </div>
                <div class="main__form-group">
                    <label for="confirmPassword">Confirmar Contraseña<span class="span-label">*</span></label>
                    <div
                        class="input-with-icon <%= locals.errors && locals.errors.confirmPassword ? 'is-invalid' : '' %>">
                        <input type="password" id="confirmPassword" name="confirmPassword">
                        <% if (locals.errors && locals.errors.confirmPassword) { %>
                            <i class="fa-solid fa-circle-exclamation"></i>
                            <% } %>
                    </div>
                    <% if (locals.errors && errors.confirmPassword) { %>
                        <small class="text-danger">
                            <%= errors.confirmPassword.msg %>
                        </small>
                    <% } %>
                </div>
               
                        <div class="main__form-group ">
                            <button type="submit" class="button-submit">Cambiar contraseña</button>
                        </div>
            </form>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>

</html>